/* https://coolors.co/333333-666666-790e11-5e81ac-ffffff-ffffff */
$color-black: hsl(0, 0%, 20%);
$color-dark-grey: hsl(0, 0%, 40%);
$color-medium-grey: hsl(0, 0%, 60%);
$color-semi-light-grey: hsl(0, 0%, 80%);
$color-light-grey: hsl(0, 0%, 95%);
$color-white: hsl(0, 0%, 100%);
$color-red: hsl(360, 80%, 25%);

body {
	background-color: $color-black;

	a {
		color: $color-red;
	}
}
