@font-face {
	font-family: "Open Sans";
	src: url(./assets/fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf);
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url(./assets/fonts/Open_Sans/static/OpenSans/OpenSans-SemiBold.ttf);
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Playfair Display";
	src: url(./assets/fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf);
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Playfair Display";
	src: url(./assets/fonts/Playfair_Display/static/PlayfairDisplay-SemiBold.ttf);
	font-weight: 600;
	font-style: normal;
}

$font-sans-primary: "Open Sans", sans-serif;
$font-sans-serif: "Playfair Display", serif;

body {
	font-family: $font-sans-serif;
	font-size: 1rem;
	line-height: 1.75;

	a {
		text-decoration: none;
		border-bottom: 1px dotted;

		&:focus,
		&:hover {
			border-bottom: 1px solid;
		}
	}

	abbr[title] {
		text-decoration: none;
	}
}
