@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&display=swap");

$font-sans: "Open Sans", sans-serif;
$font-serif: "Playfair Display", serif;

body {
	font-family: $font-sans;
	line-height: normal;
}
