#site-footer {
	background-color: $color-black;
	bottom: 0;
	box-sizing: border-box;
	color: $color-medium-grey;
	font-family: $font-sans-primary;
	font-size: 12px;
	left: 0;
	padding: 20px;
	position: relative;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;

	a {
		color: $color-medium-grey;
	}

	.wrap {
		margin: auto;
	}
}

@media screen and (min-width: $screen-md-min) {
	#site-footer {
		position: fixed;
		height: 80px;
	}
}
