#site-header {
	background-color: $color-white;
	display: flex;
	position: fixed;
	width: 100%;
	justify-content: space-between;
	padding: 0 3em;
	box-sizing: border-box;
	top: 0;
	left: 0;
	z-index: 3;

	#site-header-logo {
		a {
			border: none;

			img {
				height: auto;
				max-width: 200px;
			}
		}
	}

	#site-header-menu {
		align-self: center;
	}
}
