.home {
	.section {
		display: flex;
		flex-direction: row;
		min-height: calc(50vh - 80px);
		background-color: $color-white;
		color: $color-black;

		a {
			color: $color-black;
		}

		&:nth-of-type(even) {
			background-color: $color-black;
			color: $color-white;
			flex-direction: row-reverse;

			a {
				color: $color-white;
			}
		}

		div {
			width: 50%;
		}

		.text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 3em;
			box-sizing: border-box;
		}

		.image {
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
}

@media screen and (max-width: $screen-md-min) {
	.home {
		.section {
			flex-direction: column;
			min-height: auto;

			&:nth-of-type(even) {
				flex-direction: column;
			}

			div {
				width: 100%;
			}

			.image {
				height: 300px;
			}
		}
	}
}
