.home {
	.section {
		display: flex;
		flex-direction: row;
		min-height: calc(50vh - 80px);
		background-color: $color-white;
		color: $color-black;

		a {
			color: $color-black;
		}

		&:nth-of-type(even) {
			background-color: $color-black;
			color: $color-white;

			a {
				color: $color-white;
			}
		}

		div {
			width: 50%;
		}

		.text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 3em;
			box-sizing: border-box;
		}

		.image {
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}

		&:nth-of-type(even) {
			flex-direction: row-reverse;
		}
	}
}
