body.page #site-content,
body.blog #site-content,
body.single #site-content {
	background-color: $color-white;

	#page {
		display: flex;
		flex-direction: column;

		h1 {
			color: $color-white;
			font-family: $font-sans-serif;
			font-size: 2.5rem;
			font-weight: 400;
			margin-top: 0;
			text-align: center;
			padding: 50px;
			&::after {
				background-color: $color-white;
				bottom: 0;
				content: "";
				display: block;
				height: 2px;
				left: 0;
				margin: 10px auto;
				position: relative;
				right: 0;
				width: 120px;
			}
		}

		#title {
			box-sizing: border-box;
			align-items: center;
			background-color: rgba(51, 51, 51, 0.75);
			background-blend-mode: darken;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			display: flex;
			height: 300px;
			justify-content: center;
			width: 100%;
		}

		#content {
			background-color: $color-white;
			box-sizing: border-box;
			height: auto;
			overflow-y: scroll;
			padding: 60px 8%;
			width: 100%;

			#inner-content {
				margin: 0 auto;
				max-width: 800px;
			}
		}
	}
}

@media screen and (min-width: $screen-md-min) {
	body.page #site-content,
	body.blog #site-content,
	body.single #site-content {
		#page {
			flex-direction: row;

			#title {
				height: calc(100vh - 160px);
				width: 50%;
			}

			#content {
				height: calc(100vh - 160px);
				width: 50%;
			}
		}
	}
}
